# Ignore .ipcache directory
.ipcache/

# Ignore .run directory
.run/

xcd.log

.Xil

blowfish

emconfig.json

# Ignore v++ generated
v++_krnl_blowfish*
_x*/
build_dir*/

xilinx_u250_gen3x16_xdma_4_1_202210_1*

emulation_debug.log

# Generated timing_results
inputSizeOptions/
timing_results_*.txt

inputs/