# Ignore .ipcache directory
.ipcache/

# Ignore .run directory
.run/

xcd.log

.Xil

blowfish

histogram_equalization

emconfig.json

# Ignore v++ generated
v++_krnl_blowfish*
v++_krnl_histogram_equalization*
_x*/
build_dir*/

xilinx_u250_gen3x16_xdma_4_1_202210_1*

emulation_debug.log

# Generated timing_results
inputSizeOptions/
timing_results_*.txt

# HMLib related data files and others
data_dir/
xsa.xml
workload*
v++*
FPGArpt
.DS_Store
ext_metadata.json
*.o
# host executable file for hw_emu
test.hw_emu.out
# host executable file for hw
test.real.out
